{% load wagtailcore_tags %}

<div class="max-w-md bg-gray-800 rounded-xl shadow-lg overflow-hidden transform transition-all hover:scale-105 duration-300">
  <div class="p-6">
    
    <h3 class="text-xl font-bold text-gray-100 mb-2">{{ self.title }}</h3>
    
    <div class="text-gray-300 mb-4">
      {{ self.description|richtext }}
    </div>
    
    <div class="flex flex-wrap gap-3">
      {% if self.url %}
        <a href="{{ self.url }}"  target="_blank" class="inline-flex items-center px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
          </svg>
          View Project
        </a>
      {% endif %}
      
      {% if self.demo_link %}
        <a href="{{ self.demo_link }}" target="_blank" class="inline-flex items-center px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
          </svg>
          View Demo
        </a>
      {% endif %}
    </div>
  </div>
</div>